<script>
    document.getElementById("a2").setAttribute("class", "active");
    window.onload = setTimeout("oppgave2Load()", 100);
</script>
<div id="spraakValg"></div>
<br />
<br />
<div id="Spraaktest"></div>
