<script>document.getElementById("a1").setAttribute("class", "active");</script>

<iframe id="ifr" src="/Oppgave1Pub/index.html" scrolling="no"></iframe>
<span>Trykk innenfor rammen for å bli flyttet tilbake</span>